body {
    font-family: "Cairo", sans-serif;
}

a:hover {
    text-decoration: none;
    color: gainsboro;
}

.full_container {
    padding: 0px;
    max-width: 1200px;
    margin: 0px;
    margin-inline: auto;
}

.full_row {
    padding: 0px;
    margin: 0px;
}

.full_col {
    padding: 0px;
    margin: 0px;
}

.bg_color_main_navbar {
    background-color: #0aa289;
}

.main_link {
    color: white;
    font-size: 20px;
}

.padding_top_main_link {
    padding-top: 15px;
}

.title_row_width {
    margin-left: 90px;
    margin-right: 60px;
}

.title_text {
    text-align: right;
    font-family: Cairo;
    font-size: 25px;
    font-weight: 700;
    padding: 10px;
    color: #9650a5;
}

.bg_title_line {
    background-image: url('../../images/img10.png');
    height: 50px;
    width: 300px;
    float: right;
}

.block_slider {
    background-image: url("../../images/img12.png");
    height: 462px;
}

.slider_row_width {
    margin-left: 15px;
    margin-right: 15px;
}

.left_arrows {
    max-width: 50px;
    padding-top: 200px;
    font-size: 50px;
}

.ads_row_width {
    padding-left: 0px;
    padding-right: 0px;
}

.block_row_width {
    padding-left: 100px;
    padding-right: 100px;
}

.title_news {
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
}

.img_news_center {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.text_news {
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 0px;
}

.more_news {
    padding-left: 10px;
    padding-right: 10px;
}

.footer_width {
    background-color: #9444a7;
    height: 50px;
    direction: rtl;
    margin-left: 0px;
    margin-right: 0px;
}

.footer_link {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 14px;
    color: white;
}

.main_banner {
    background-image: url('../../images/img2.png');
    background-size: auto;
    background-repeat: no-repeat;
    height: 548px;
    width: auto;
}

.main_links {
    width: 100%;
    height: 60px;
    align-self: self-end;
}

.main_top_links {
    padding-left: 60px;
}

.main_links_top {
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.main_links_col_padding_top {
    padding-top: 50px;
    padding-left: 7px;
    padding-right: 7px;
}

.main_links_col_icon_padding_top {
    padding-top: 40px;
    padding-left: 5px;
    padding-right: 5px;
}

.main_links_col_sperater_padding_top {
    padding-top: 40px;
    padding-left: 2px;
    padding-right: 2px;
}

